<h1 class="title">Sistema de Gestión de Obras</h1>


<div class="container container-form">
  <div class="card">
    <div class="center">
      <img src="../../../assets/images/logo_civil.png" alt="logo_provisional" class="logo">
    </div>
    <div>
      <form action="" class="form">
        <div>
          <input type="text" placeholder="username" autofocus required>
        </div>
        <div>
          <input type="password" placeholder="password" required>
        </div>
        <div>
          <button type="submit" class="boton">Ingresar</button>
        </div>
        <div>
          <a routerLink="/recover" class="links">¿Recordar Contraseña?</a>
          <a routerLink="/register" class="links">Registrar Usuario</a>
        </div>
      </form>
    </div>
  </div>
</div>
