@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');
//Font

$font_family: "Hind Siliguri", sans-serif;
$font-style:  normal;

$delgada : 300;
$regular : 400;
$bold    : 700;
$black   : 900;

//Colors
$color_primary   : rgb(246, 59, 62);
$color_secondary : rgb(239, 20, 24);
$white           : rgb(255,255,255);
$black           : rgb(0,0,0);
$gray            : rgb(104, 104, 104);
$blue            : rgb(7, 0, 216);
$light_blue      : rgb(56, 153, 213);


